<template name="profile">
	{{> appHeaderLoggedOn}} {{#ionContent class="padding"}}
	<div class="list card">

		<div class="item item-avatar">
			<img src="/images/Me.jpg">
			<h2>Joshua Gerding</h2>
			<p>May 29, 2015</p>
		</div>

		<div class="item item-body">
			<img class="full-image" src="images/Meteoric.png">
			<p>
				This is a simple REST API app that when click the refresh button in the upper left corner it refreshes the data for the Todolist and the Course based on the MEAN stack app where the end point is created.
			</p>
		</div>

		<div class="item tabs tabs-secondary tabs-icon-left">
			<a class="tab-item" href="#">
				<i class="icon ion-thumbsup"></i> Like
			</a>
			<a class="tab-item" href="#">
				<i class="icon ion-chatbox"></i> Comment
			</a>
			<a class="tab-item" href="#">
				<i class="icon ion-share"></i> Share
			</a>
		</div>

	</div>
	{{/ionContent}}
</template>