<!DOCTYPE html>
<html ng-app="app">

<head>
	<title>
		<%= title %>
	</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<h1>
		<%= title %>
	</h1>
	<a href="/">Go to Todolist</a>
	<br>
	<br>

	<ng-view></ng-view>

	<!-- Libraries -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>

	<!-- Template -->
	<script type="text/ng-template" id="/courses.html">

		Search:
		<input type="text" ng-model="search.name">
		<ul>
			<li ng-repeat="course in courses | filter: search">
				<input type="checkbox" ng-model="course.completed" ng-change="update($index)">
				<h4 ng-show="!editing[$index]">{{course.CourseName}}</h4>
				<p ng-show="!editing[$index]">{{course.note}}</p>
				<button ng-show="!editing[$index]" ng-click="edit($index)">edit</button>
				<button ng-show="!editing[$index]" ng-click="remove($index)">remove</button>

				<input ng-show="editing[$index]" type="text" ng-model="course.CourseName">
				<input ng-show="editing[$index]" type="textarea" ng-model="course.note">
				<button ng-show="editing[$index]" ng-click="update($index)">update</button>
				<button ng-show="editing[$index]" ng-click="cancel($index)">cancel</button>
			</li>
		</ul>
		New task
		<input type="text" placeholder="Course Name" ng-model="newCourse">
		<input type="textarea" placeholder="Course Note" ng-model="newCourseNote">
		<button ng-click="save()">Create</button>
	</script>

	<script>
		angular.module('app', ['ngRoute', 'ngResource'])

		//---------------
		// Services
		//---------------

		.factory('Courses', ['$resource', function($resource) {
			return $resource('/courses/:id', null, {
				'update': {
					method: 'PUT'
				}
			});
		}])

		//---------------
		// Controllers
		//---------------

		.controller('CourseController', ['$scope', 'Courses', function($scope, Courses) {
			$scope.editing = [];
			$scope.courses = Courses.query();

			$scope.save = function() {
				if (!$scope.newCourse || $scope.newCourse.length < 1) return;
				var course = new Courses({
					CourseName: $scope.newCourse,
					note: $scope.newCourseNote,
				});

				course.$save(function() {
					$scope.courses.push(course);
					$scope.newCourse = ''; // clear textbox
					$scope.newCourseNote = '';
				});
			}

			$scope.update = function(index) {
				var course = $scope.courses[index];
				Courses.update({
					id: course._id
				}, course);
				$scope.editing[index] = false;
			}

			$scope.edit = function(index) {
				$scope.editing[index] = angular.copy($scope.courses[index]);
			}

			$scope.cancel = function(index) {
				$scope.courses[index] = angular.copy($scope.editing[index]);
				$scope.editing[index] = false;
			}

			$scope.remove = function(index) {
				var course = $scope.courses[index];
				Courses.remove({
					id: course._id
				}, function() {
					$scope.courses.splice(index, 1);
				});
			}
		}])

		//---------------
		// Routes
		//---------------

		.config(['$routeProvider', function($routeProvider) {
			$routeProvider
				.when('/', {
					templateUrl: '/courses.html',
					controller: 'CourseController'
				})

		}]);
	</script>
</body>

</html>