<template name="settings">
	{{> tabsHeader}} {{#ionContent class="padding"}}
	<ul class="list">

		<li class="item item-toggle">
			HTML5
			<label class="toggle toggle-assertive">
				<input type="checkbox">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</li>
		<li class="item item-toggle">
			CSS3
			<label class="toggle toggle-royal">
				<input type="checkbox">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</li>
		<li class="item item-toggle">
			Javascript
			<label class="toggle toggle-energized">
				<input type="checkbox">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</li>
		<li class="item item-toggle">
			NodeJS
			<label class="toggle toggle-balanced">
				<input type="checkbox">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</li>
		<li class="item item-toggle">
			Meteor
			<label class="toggle toggle-calm">
				<input type="checkbox">
				<div class="track">
					<div class="handle"></div>
				</div>
			</label>
		</li>


	</ul>
	{{/ionContent}}
</template>