<template name="todolist">
	{{> tabsHeader}} {{#ionContent class="padding"}}
	<div class="list">

		<div class="item item-input-inset">
			<label class="item-input-wrapper">
				<input type="text" placeholder="Email">
			</label>
			<button class="button button-small">
				Submit
			</button>
		</div>
		{{#each exampleList}}
		<ul class="list">

			<li class="item item-checkbox">
				<label class="checkbox">
					<input type="checkbox" checked="{{completed}}">
				</label>
				{{name}}
			</li>
		</ul>

		{{/each}}

	</div>
	{{/ionContent}}
</template>