<template name="todolist">
	{{> appHeaderLoggedOn}} {{#ionContent class="padding"}}
	<div class="card">
		<div class="item item-text-wrap">
			Click the refresh button in the upper left hand corner to fire the REST API
		</div>
	</div>{{#each exampleList}}
	<ul class="list">

		<li class="item item-checkbox">
			<label class="checkbox">
				<input type="checkbox" checked="{{completed}}">
			</label>
			<h2>{{name}}</h2>
			<br>
			<p>{{note}}</p>
			<br>
			<p>{{updated_at}}</p>
		</li>
	</ul>

	{{/each}} {{/ionContent}}
</template>